h1{
    color: rgb(44, 149, 209);
    font-family: sans-serif;
    font-size: 14px;
    background-color: rgb(202, 87, 158);
   }
   p {
    color: rgb(47, 44, 209);
    font-family: italic;
    font-size: 14px;
    background-color: rgb(202, 87, 158);

   }